* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

::-webkit-scrollbar {
    display: none;
}

.jmeno {
    top: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.onlyimage {
    position: fixed;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    z-index: -101
}

.GeneratedText {
    font-family: 'Comic Sans MS';
    font-size: 30px;
    letter-spacing: 0.2em;
    line-height: 1.3em;
}

footer {
    font-size: 23px !important;
}

.background {
    background-image: url(../img/idk.jfif);
    max-width: 100%;
    border-radius: 15px;
    max-height: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5 s;
    position: relative;
}

a {
    color: whitesmoke;
}

a:hover {
    color: blue;
    text-decoration: none;
}

a:hover i {
    color: blue;
    text-decoration: none;
}

.aodkaz:hover {
    color: blue;
    text-decoration: none;
}

.havr:hover {
    animation: 1s infinite changecolor;
}

@keyframes changecolor {
    0% {
        color: rgb(255, 225, 0);
    }
    10% {
        color: rgb(255, 208, 0);
    }
    20% {
        color: rgb(0, 255, 128);
    }
    30% {
        color: rgb(0, 89, 255);
    }
    40% {
        color: rgb(0, 255, 221);
    }
    50% {
        color: rgb(14, 0, 138);
    }
    60% {
        color: rgb(255, 0, 212);
    }
    70% {
        color: rgb(255, 0, 0);
    }
    80% {
        color: rgb(255, 123, 0);
    }
    90% {
        color: rgb(255, 196, 0);
    }
    100% {
        color: rgb(255, 225, 0);
    }
}

#img {
    background-image: url(../img/idk.jfif);
}